*{
    margin: 0;
    font-family: sans-serif;
}
/* .btn-1{
  
} */
 /* header style */
 header{
    height: 808px;
    background-image: url(../images/banner/banner3.png);
    
}
.bannar{
    float: right;
    
 }
.head-title{
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    color: #FFFFFF;
    margin: 216px 230px 24px 845px;
}
.head-para{
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #FFFFFF;
    margin: 0px 230px 32px 845px;
 }
 .head-btn{
    font-weight: 600;
    font-size: 16px;
    /* text-align: right; */
    margin: 0px 230px 187px 1220px;
    color: #005FAC;
    background-color: #ffffff;
    padding: 15px 20px;
    border: 2px solid #005FAC ;
    
 }
 /* failure style */
 .failure{
    display: flex;
    margin-top: 100px;
    margin-bottom: 200px;
 }
 .failure img{
 margin-left: 206px;
 margin-right: 87px;
}
 .fail-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top:300px ;
    margin-right:450px ;
    margin-bottom: 24px ;
    /* margin:300px 450px 24px 87px; */
 }
 .fail-para{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-right:322px  ;
    margin-bottom:16px ;
    
 }
 .fail-list
 {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-right:400px ;
    
 }
 /* plan style */

 .plans{
    display: flex;
    justify-content: space-between;
   margin:50px 230px;
   text-align: center;
 }
 .plan-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #151414;
 }
 .plan-subtitle{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #151414;
    margin-top:20px ;
 }
 .plan-para{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;
    margin-top: 16px;
 }
 footer{
    background: #151414;
    display: flex;
    justify-content: space-between;
    height: 577px;
    color: #ffffff;
 }